<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="topHeader">
            <div class="logo"><img src="../img/logo-mercado-liebre.svg" alt="Mercado liebre logo"></div>
            <div class="busqueda">
                <form action="#">
                    <input type="search">
                    <button class="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="HeadMsj">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="nav">
            <ul class="menu1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="menu2">
                <li><a href="/register">Creá una cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burgerMenu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="secForm">
        <form class="sFormItem" action="#">
            <input placeholder="Usuario" name="user" id="user" type="text">
            <input placeholder="Contraseña" name="pass" id="pass" type="password">
            <input type="submit">
        </form>
    </section>
    </main>
    <footer>
        <section class="sectionFooter">
            <article class="sectFooterItem">
                <i class="far fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="sectFooterItem">
                <i class="fas fa-truck-loading"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="sectFooterItem">
                <i class="fas fa-lock"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@</p>
            </article>
        </section>
        <h5 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
    </footer>
</body>
</html>